{% extends 'base.html' %}
{% block contain %}
<div class="container">
            <div class="inner-container">
                <div class="info">
                    <div class="info-box">
                        <div class="left">
                            <i class="fab fa-product-hunt"></i>
                        </div>
                        <div class="right">
                            <h3>{{ total_product }} P.</h3>
                            <h3>TOTAL PRODUCT</h3>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="left">
                            <i class="fas fa-file-invoice"></i>
                        </div>
                        <div class="right">
                            <h3>{{ total_invoice }} P.</h3>
                            <h3>TOTAL INVOICE</h3>
                        </div>
                    </div>
                    <div class="info-box" style="margin-right: 0px;">
                        <div class="left">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="right">
                            <h3>{{ todays_sell }} TK</h3>
                            <h3>TODAY'S SELL</h3>
                        </div>
                    </div>
                </div>
                <div class="invoicelist">
                    <div class="table-header">
                        <h3>Recent Invoice List</h3>
                        <hr>
                    </div>
                    <div class="table-list">
                        <table id="table">
                            <tr>
                                <th class="col col-1">#Invoice</th>
                                <th class="col col-2">Invoice To</th>
                                <th class="col col-3">Date</th>
                                <th class="col col-4">Amount</th>
                                <th class="col col-5">Invoice By</th>
                                <th class="col col-6">View</th>
                            </tr>
                            {% for invoice in recent_invoice %}
                            <tr>
                                <td>#{{ invoice.id }}</td>
                                <td>{{ invoice.invoice_to }}</td>
                                <td>{{ invoice.invoice_date|date:"Y-m-d" }}</td>
                                <td>{{ invoice.total_invoice_price }}</td>
                                <td>{{ invoice.created_by }}</td>
                                <td><a href="{% url 'invoice_view' invoice.id %}"><i class="far fa-eye"></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
