{% extends 'base.html' %}
{% load staticfiles %}

{% block contain %}
<div style="margin-top: 1%;margin-left: 17%;">
	<p>INVOICE VIEW</p>
	<hr>
</div>
<div class="container">
  <div class="inner-container">

            <div style="width:70%; float:left;margin-bottom:20px;">
              <p style="font-size: 20px;font-weight: bold;color: #347ab4;">
                RespoCare
               </p>
               <small style="font-size: 13px;font-weight: normal;">(Specialist Respiratory Care)</small><br>
                <small style="font-size: 13px;font-weight: normal;color: #347ab4;">
                  155 (1st Floor),
                  Aziz Medicine & Medical Equipment Market<br>
                  Shahbag, Dhaka-1000.<br>
                  Mobile: 01712-166060, 01943-795007 <br>
                  E-mail: carerespo@gmail.com
                </small>
            </div>
            <div style="width:30%; float:left;margin-bottom:20px;">
              <img src="{% static 'images/logo.png' %}" style="width: 68%;">
            </div>

            <p style="text-align: center;padding: 7%;font-weight: bold;width: 68%;">INVOICE</p>
            <p style="margin-bottom: 8px">CLIENT INFO</p>
            <span style="font-size: 15px;">{{ invoice_obj.invoice_to|linebreaks }}</span>

            <small style="float: right;margin-right: 9%;font-size: 15px;">
              Invoice Date: {{ invoice_obj.invoice_date|date:"Y-m-d" }}
            </small>
            <small style="float: right;margin-right: -16.5%;margin-top: -23px;font-size: 15px;">
              Discount Amount: {{ invoice_obj.discount }} Taka
            </small>

                <table id="table" style="margin-top: 3%;">
                    <tr>
                        <th class="col col-2">Product</th>
                        <th class="col col-3">Price</th>
                        <th class="col col-4">Quantity</th>
                        <th class="col col-5">Line Total</th>
                    </tr>
                    {% for pro in invoice_obj.invoiceproduct_set.all %}
                       <tr class="invoice_product_div">
                        <td>{{ pro.product.name }}</td>
                        <td>{{ pro.price }}</td>
                        <td>{{ pro.quantity }}</td>
                        <td>{{ pro.total_price }}</td>
                      </tr>
                    {% endfor %}
                    <tr class="invoice_product_div">
                     <td></td>
                     <td></td>
                     <td>Discount</td>
                     <td>{{ invoice_obj.discount }} %</td>
                   </tr>
                   <tr class="invoice_product_div">
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>{{ invoice_obj.total_invoice_price }}</td>
                  </tr>
                </table>
                 <div style="width:100%">
                   <br>
                   <small>Note</small>
                   <span style="margin-top: 5px;font-size: 13px;">{{ invoice_obj.invoice_note|linebreaks }}</span>

                 </div>

        </div>
      </div>


{% endblock %}
