{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block js %}
<script>
$(document).ready(function() {
  $('.invoice_product_div').formset({
    addText: 'Add More Product',
    deleteText: 'DELETE',
    prefix: 'invoiceproduct_set',
  });
});
</script>
{% endblock %}


{% block contain %}

<div class="container">
  <div class="inner-container">
  <button id="myBtn">Create Invoice</button>
    <div id="myModal" class="modal">
      <div class="modal-content" style="width: 60%;">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Create Invoice</h2>
        </div>
        <div class="modal-body" style="margin-bottom: 10%;">
          <form action="{% url 'invoice_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div style="width:70%; float:left;margin-bottom:20px;">
              <p style="font-size: 20px;font-weight: bold;color: #347ab4;">
                RespoCare
               </p>
               <small style="font-size: 13px;font-weight: normal;">(Specialist Respiratory Care)</small><br>
                <small style="font-size: 13px;font-weight: normal;color: #347ab4;">
                  155 (1st Floor),
                  Aziz Medicine & Medical Equipment Market<br>
                  Shahbag, Dhaka-1000.<br>
                  Mobile: 01712-166060, 01943-795007 <br>
                  E-mail: carerespo@gmail.com
                </small>
            </div>
            <div style="width:30%; float:left;margin-bottom:20px;">
              <img src="{% static 'images/logo.png' %}" style="width: 65%;">
            </div>

            <p style="text-align: center;padding: 7%;font-weight: bold;">INVOICE</p>
              {% render_field invoice_form.invoice_to rows="3" placeholder="INVOICE TO (CLIENT INFO)"  %}

            <small style="float: right;margin-right: 9%;">
              Invoice Date: <input type="date" name="invoice_date" id="id_invoice_date" value="{% now 'Y-m-d' %}">
            </small>
            <small style="float: right;margin-right: -4.5%;margin-top: -24px;">
              Discount percentage: {% render_field invoice_form.discount style="width: 28%;"  %}
            </small>

                <table id="table" style="margin-top: 3%;">
                    <tr>
                        <th class="col col-2">Product</th>
                        <th class="col col-3">Quantity</th>
                        <th class="col col-4">Price</th>
                        <th class="col col-5">Delete</th>
                    </tr>

                    {{ invoice_ini_form.management_form }}

                    {% for form in invoice_ini_form.forms %}
                      {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}


                   <tr class="invoice_product_div">
                    <td>{% render_field form.product %}</td>
                    <td>{% render_field form.quantity %}</td>
                    <td>{% render_field form.price %}</td>
                    <td>{{ form.DELETE }}</td>
                  </tr>

                  {% endfor %}


                </table>
                 <div style="width:100%">
                   {% render_field invoice_form.invoice_note rows="3" style="margin-top: 1%;" placeholder="INVOICE NOTES" %}
                 </div>
                <button type="submit" style="margin-top: 12px">Create Invoice</button>
                <br>
                <br>
                <br>
            </div>
          </form>
        </div>
      </div>




<div class="invoicelist">
    <div class="table-header">
        <h3>Invoice List</h3>
        <hr>
    </div>
    <div class="table-list">
        <table id="table">
            <tr>
                <th class="col col-1">#Id</th>
                <th class="col col-2">Invoice To</th>
                <th class="col col-5">Invoice Date</th>
                <th class="col col-5">Created By</th>
                <th class="col col-5">Invoice Total</th>
                <th class="col col-6">ACTION</th>
            </tr>
            {% for invoice in invoice_list %}
           <tr>
             <td>{{ invoice.id }}</td>
             <td>{{ invoice.invoice_to }}</td>
             <td>{{ invoice.invoice_date|date:"Y-m-d" }}</td>
             <td>{{ invoice.created_by }}</td>
             <td>{{ invoice.total_invoice_price }} /-</td>
             <td>
               <a href="{% url 'update_invoice' invoice.id %}"><i class="far fa-file-alt"></i></a>
               <a href="{% url 'invoice_view' invoice.id %}"><i class="far fa-eye"></i></a>
               <a href="{% url 'pdf_view' invoice.id %}" target="_blank"><i class="fas fa-file-pdf"></i></a>
             </td>
          </tr>
          {% endfor %}
      </table>
    </div>
</div>
    </div>
</div>

<style media="screen">
  .add-row{
    position: absolute;
    margin-left: 79%;
    margin-top: 6px;
    background-color: cadetblue;
    padding: 6px;
    font-size: 15px;
    color: #fff;
  }
</style>

{% endblock %}
