{% extends "base.html" %}
{% block contain %}
<style media="screen">
  p{
    padding: 8px;
  }
  form{
    padding: 30px;
  }
</style>
<div class="container" style="width: 100%;">
<div class="inner-container">

<center>

  <form  method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}

    <input type='submit' style="margin-left: -4%;background: #74b295;color: #fff;width: 7%;padding: 4px;border: 0px solid teal;" value='{{ title }}' />
  </form>

</center>

</div>
</div>
{% endblock %}
